<% flash.each do |key, message| %>
  <% alert_class = case key.to_sym
                   when :alert, :error then "alert-error"
                   when :notice, :success then "alert-success"
                   else "alert-info"
                   end %>

  <div class="alert <%= alert_class %> shadow-sm mb-4" role="alert" aria-live="assertive">
    <span><%= message %></span>
  </div>
<% end %>
